body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #f0f0f0;
}

button {
    padding: 15px 30px;
    font-size: 18px;
    color: white;
    background-color: #007BFF; /* Màu của nút */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3; /* Màu khi hover */
}